* text=auto eol=lf

*.png binary !eol
*.jpg binary !eol
*.jpeg binary !eol
*.gif binary !eol
*.webp binary !eol
*.ico binary !eol
*.mp4 binary !eol
*.apk binary !eol
*.aab binary !eol
*.jks binary !eol
*.keystore binary !eol
